.leaflet-control-pkk a {
    background-position: -120px -122px;
}

.leaflet-control-pkk.dark a {
    background-image: url("../img/24-white.png");
    background-color: #2a2e30;
    color: #eeeeec;
    border: 1px solid #1b1f20;
}

.leaflet-control-filter a {
    background-position: -120px -122px;
}

.leaflet-control-filter.dark a {
    background-image: url("../img/24-white.png");
    background-color: #2a2e30;
    color: #eeeeec;
    border: 1px solid #1b1f20;
}


/* button show tematic karts*/

.storage-edit-enabled .leaflet-control-show-type-kart {
    display: none;
}

.leaflet-control-show-type-kart {
    display:block !important;
    cursor: pointer;
}
.leaflet-control-show-type-kart a {
    background-image: url("../img/24-white.png");
    background-position:-82px -122px;
    border: #2a2e30;
}

/*
    переопределение стилизации иконок "Увеличение / Уменьшение  масштаба"
*/

.leaflet-touch .leaflet-bar a {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    margin-left: -1px !important;
}

/*
    Переопределение поведения leaflet-toolbar
 */

.storage-toolbar-enabled .leaflet-control-toolbar > li > .leaflet-toolbar-icon,
.storage-toolbar-enabled .storage-toolbar a {
    display: block;
}

.employee {
    background-position: -160px -122px;
}

.employee{
    background-image: url(../img/24-white.png);
    background-color: #2a2e30;
    color: #eeeeec;
    border: 1px solid white;
    outline: none;
}
}

.employee:hover{
    background-image: url(../img/24-white.png);
    /*background-position: -82px -122px;*/
    border: #2a2e30;
}

.vehicle {
    background-position: -0px -42px;
}

.vehicle{
    background-image: url(../img/24-white.png);
    background-color: #2a2e30;
    color: #eeeeec;
    border: 1px solid white;
    outline: none;
}
}

.vehicle:hover{
    background-image: url(../img/24-white.png);
    /*background-position: -82px -122px;*/
    border: #2a2e30;
}