.leaflet-control-pkk a {
    background-position: -120px -122px;
}

.leaflet-control-pkk.dark a {
    background-image: url("../img/24-white.png");
    background-color: #2a2e30;
    color: #eeeeec;
    border: 1px solid #1b1f20;
}

/* button show tematic karts*/

.storage-edit-enabled .leaflet-control-show-type-kart {
    display: none;
}

.leaflet-control-show-type-kart {
    display:block !important;
    cursor: pointer;
}
.leaflet-control-show-type-kart a {
    background-image: url("../img/24-white.png");
    background-position:-82px -122px;
    border: #2a2e30;
}

/*
    переопределение стилизации иконок "Увеличение / Уменьшение  масштаба"
*/

.leaflet-touch .leaflet-bar a {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    margin-left: -1px !important;
}

/*
    Переопределение поведения leaflet-toolbar
 */

.storage-toolbar-enabled .leaflet-control-toolbar > li > .leaflet-toolbar-icon,
.storage-toolbar-enabled .storage-toolbar a {
    display: block;
}

.leaflet-filter-employee {
    background-position: -80px -155px;
}

/*.employee.dark {*/
    /*background-image: url(../img/24-white.png);*/
/*}*/

.leaflet-filter-vehicle {
    background-position: -120px -155px;
}

.leaflet-filter-datetime {
    background-position: -120px 0;
}

.leaflet-filter-datetime-block {
    padding-top: 20px;

}

.leaflet-filter-datetime-button {
    /*display: flex;*/
}

/*.vehicle.dark {*/
    /*background-image: url(../img/24-white.png);*/
/*}*/

.layer-legend {
    background-position: -49px -170px;
}
.off .layer-legend {
    background-position: -49px -170px;
}

/*switch the history object */
#mgs-label-actual {
    font-size: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mgs-swith {
  padding: 3px;
  margin-top: 10px;
  display: flex;
  text-align: left;
  align-items: center;
}
.mgs-hours {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 2px;
}